.footer {
  border-top: 1px solid var(--textStandard);
  min-height: 250px;
  padding: 1.5rem 0 0;
  margin-bottom: 0;
  margin-top: 10rem;
}

@media only screen and (min-width: 960px) {
  .footer {
    padding: 1.5rem 1rem 0;
  }
}

@media only screen and (min-width: 1160px) {
  .footer {
    min-height: 150px;
    padding: 1.5rem;
  }
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1160px) {
  .footer__list {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__listItem {
  margin: 0.5rem;
}

.footer__copyright {
  text-align: center;
}
