.footerImageWrapper {
  display: flex;
  justify-content: flex-end;
}

.footerImage {
  max-height: 8rem;
  margin: 0;
  margin-top: -8rem;
  margin-right: 1rem;
}

.footerImageLink {
  border-bottom: 0;
  transition: none;
}

.footerImageLink:hover {
  border-bottom: 0;
}

@media only screen and (min-width: 960px) {
  .footerImage {
    margin-right: 0;
  }
}
