@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap');

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.headerImage {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
}

.headerHomeImage {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.heading {
  align-items: center;
  color: var(--textStandard);
  display: flex;
  font-size: 1.25rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-transform: uppercase;
}

.header__logoText:hover {
  text-decoration: none;
}

@media only screen and (min-width: 760px) {
  .container {
    margin: 3rem auto 6rem;
  }

  .headerImage {
    width: 6rem;
    height: 6rem;
    margin: 0 1rem;
  }

  .headerHomeImage {
    width: 8rem;
    height: 8rem;
    margin: 0 1rem;
  }

  .headingHome {
    font-size: 2rem;
  }

  .headingOther {
    font-size: 1.5rem;
  }
}
