.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.lightTextHeader {
  margin-bottom: 2rem;
}

.linkStandard {
  border-bottom: 0;
  color: var(--blueDark);
  text-decoration: underline;
  transition: none;
}

.linkStandard:hover {
  border-bottom: 0;
  text-decoration: none;
}

.linkFeatureCTA {
  margin: 1rem 3rem 1rem 0;
  display: inline-block;
}

.imageWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-direction: column;
}

.imageHalf {
  width: 100%;
  display: block;
}

.imageHalf:first-of-type {
  margin-bottom: 1rem;
}

.imageFull {
  width: 100%;
  display: block;
}

.imageCenter {
  display: block;
  margin: 0 auto;
}

.headingBlogPost {
  margin-bottom: 0.25rem;
}

.bookReviewTitle {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.bookReviewAuthor {
  margin-top: 0.25rem;
}

.hr {
  border: 1px solid var(--blueLight);
  margin: 2rem;
}

@media only screen and (min-width: 450px) {
  .imageWrapper {
    flex-direction: row;
  }
  .imageHalf {
    width: 49%;
    display: inline-block;
  }

  .imageHalf:first-of-type {
    margin-bottom: 0;
  }
}
